:root {
    --teme-color: rgb(43, 43, 43);
    --primary-color: rgb(255, 204, 0);
    --secundary-color: rgb(2, 227, 227);
    --text-color-inverse: rgb(255, 255, 255);
    --text-color: black;
    --navbar-sallow-color: rgb(0, 0, 0);
    --menu-mobile-background-color:#343434; 
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
    background-color: #cbcbcb;
}

a{
    text-decoration: none;
    color: var(--text-color);
}
.title{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

@media (max-width: 950px){
    .title{
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
    }
 
}

#swiper-container{
    position: relative;
}
#mySwiper{
    z-index: -1;
    position: absolute;
}