:root {
    --teme-color: rgb(43, 43, 43);
    --primary-color: rgb(255, 204, 0);
    --secundary-color: rgb(2, 227, 227);
    --text-color-inverse: rgb(255, 255, 255);
    --text-color: black;
    --navbar-sallow-color: rgb(0, 0, 0);
    --menu-mobile-background-color:#343434; 
}
html{
    scroll-behavior: smooth;
}
.inicio-body{
    background-color:var(--primary-color) ;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
    background-color: #cbcbcb;
    margin: 0;
}
body, h1 {
    margin: 0;
    padding: 0;
}

p{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 450; 
    line-height: 2;
    align-items: center;
    margin: auto;
    text-align: left;
}

a{
    text-decoration: none;
    color: var(--text-color);
}
.title{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    padding-top: 70px;
}
.map {
    width: 70%;
    height: 500px;
}
.map-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 950px){
    .title{
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
    }
    .map {
        width: 90%;
        height: 40vh;
    }
    .map-container{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
/* #swiper-container{
    position: relative;
} */
/* #mySwiper{
    z-index: -1;
    position: absolute;
} */
